body {
  color: #333333;
}

footer:after {
    content: attr(label);
    font-size: 12pt;
    position: absolute;
    bottom: 20px;
    left: 100px;
    line-height: 1.9;
}

.fbox {
  border: 3px solid grey;
  border-radius: 15px;
  padding: 7px 7px 7px 7px;
  margin: 10px 5px 10px 5px;
}

.columns {
  width: 100%;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}

.columns .column-1 {
  display: inline-block;
  vertical-align: top;
  width: 75%;
  height: 100%;
}

.columns .column-2 {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  height: 100%;
}

.columns .column-3 {
  display: inline-block;
  vertical-align: top;
  width: 33%;
  height: 100%;
}

.columns .column-4 {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  height: 100%;
}

.columns .column-5 {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  height: 100%;
}

.centered {
  text-align: center;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.cite {
  display: inline-block;
  color: #007100;
  font-size: 80%;
}

.quote {
  color: #446dd3;
}

.quote .signature {
  text-align: right;
  font-size: 80%;
  padding-right: 5%;
}

.plot {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: auto;
}

.uppercase {
  text-transform: uppercase;
}

.thankyou {
  float: right;
  text-transform: uppercase;
  color: #cf3c45;
}

.fullslide {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}

.frame {
  zoom: 0.75;
  transform: scale(0.75);
  transform-origin: 0.0;
  -ms-transform: scale(0.75);
  -ms-transform-origin: 0.0;
  -moz-transform: scale(0.75);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.75);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.75);
  -webkit-transform-origin: 0 0;
  
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: auto;
}